body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #05011b;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.circle::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  border-radius: 50%;
  z-index: -1;

  background: conic-gradient(from 0deg, blue,#01ef74,#ee111f, #d847ef,blue);
}
.circle::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #05011b;
}
.circle:hover {
  animation: rotate 0.6s linear infinite;
}

.circle:not(:hover) {
  animation: rotateback 0.6s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateback {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
